
<!-- <main class="p-2 d-flex justify-content-between">
 <div>
    <img src="/consultAdd.svg" class="" alt=""> 
 </div >

<div *ngIf="!isUserLoggedIn()" class="mx-2 gap-3 d-flex">
  <button class="btn btn-outline-primary flex-grow-1 px-3" [routerLink]="['/login']">
    Login
  </button>
  <button class="btn btn-outline-success flex-grow-1 px-3" [routerLink]="['/signup']">
    SignUp
  </button>     
</div>

<div *ngIf="isUserLoggedIn()" class="mx-2 gap-3 d-flex">
  <button (click)="logout()" class="btn btn-outline-danger flex-grow-1 px-3">
    Logout
  </button>
</div>


</main> -->
<router-outlet></router-outlet>
