
<div class="mb-5">
    <h3 class="m-4">Currently Marketing Campaign</h3>
   <div class="container mt-4">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <div class="col" *ngFor="let campaign of allCampaign">
      <div class="card h-100 shadow-sm">
        <div class="card-body d-flex flex-column justify-content-between">
          <!-- Campaign Info -->
          <div>
            <h5 class="card-title">{{ campaign.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ campaign.status }}</h6>
            <p class="card-text small text-muted">{{ campaign.description }}</p>
            <p class="card-text small text-muted">Start Data: {{ campaign.start_date}}</p>
            <p class="card-text small text-muted">Start Data: {{ campaign.end_date }}</p>
          </div>

          <!-- Action Buttons -->
          <div class="d-flex justify-content-between my-3">
            <button type="button" class="p-2 w-25 btn btn-sm btn-secondary" >View </button>
            <button type="button" *ngIf="employee.role=='ADMIN'" (click)="deleteCampaign(campaign.id)" class="p-2 w-25 btn btn-sm btn-danger">Delete</button>
            <button type="button" *ngIf="employee.role=='USER'"   class=" btn btn-sm btn-success">Participate</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    
<div *ngIf="employee.role=='ADMIN'">
    <h3 class="m-4" >Create Marketing Campaign</h3>
    <button type="button" class="mt-2 mb-5 mx-4 text-center justify-items-center btn btn-outline-info" [routerLink]="['/campaiangForm']" routerLinkActive="router-link-active" >Create Campaign</button>
   </div>

</div>