
<p class="h4 fw-lighter p-4">Welcome To {{department!='unknown' ? department : ''}} Dashbaord - Mr/Ms <label style="font-family: cursive;">{{employeeInfo.name}}. </label> </p>


<div *ngIf="department=='unknown'" class="row text-center">
   <h1 class="display-5 mt-5 p-5 "> Wait Till Hr Assign You Team .....</h1>
   <a href="https://www.consultadd.com/" target="_blank">Read about us ...</a>
</div>

<div class="container text-center " *ngIf="department=='HR'">
   <app-hr-component></app-hr-component>
</div>

<div class="container " *ngIf="department=='Marketing'">
  <app-marketing></app-marketing>
</div>



 